@font-face {
  font-family: 'SAO';
  src: url("font/SAO.otf");
}
p {
  font-family: SAO;
}
.body-title {
  color: green;
  font-family: SAO;
}
body {
    background: white url("images/mychara.png") no-repeat right bottom;
}
.uk-icon-image {
    background-image: url("images/hatenablog-logo.png");
}
