@font-face {
  font-family: 'SAO';
  src: url("font/SAO.otf");
}
p {
  font-family: SAO;
  font-size: medium;
}
.body-title {
  color: orange;
  font-family: SAO;
}
.uk-icon-image {
    background-image: url("images/hatenablog-logo.png");
}
a {
  font-size: medium;
}
h3 {
  font-size: medium;
}
h2 {
  font-size: large;
}
li {
  font-size: medium;
}
