@font-face {
  font-family: 'SAO';
  src: url("font/SAO.otf");
}
p {
  font-family: SAO;
}
.body-title {
  color: black;
  font-family: Arial;
}
.uk-icon-image {
    background-image: url("images/hatenablog-logo.png");
}
