{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
<link rel="stylesheet" href="{% static 'uikit.min.css' %}" />

<!-- jQuery is required -->
<script src="{% static 'jquery-3.2.1.min.js' %}"></script>

<!-- UIkit JS -->
<script src="{% static 'uikit.min.js' %}"></script>
<script src="{% static 'uikit-icons.min.js' %}"></script>

<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Toshiyuki Sakai (slt666666)</title>
<link rel="shortcut icon" href="{% static 'main/images/favicon.ico'%}">
<link rel="icon" href="{% static 'main/images/favicon.ico'%}">
<div class="uk-container uk-width-auto uk-width-xxlarge@s">
  <div class="uk-card uk-card-default">
      <div id="top" class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle uk-width-auto" uk-grid>
              <div class="uk-width-3-4@s">
                <div>
                    <img class="uk-align-left uk-margin-remove-bottom" src="{% static 'main/images/mychara.png'%}" width="64" height="64">
                    <p class="uk-card-title uk-margin-remove-bottom">Toshiyuki Sakai</p>
                    <h3 class="uk-text-meta uk-margin-remove-top">ID:slt666666</h3>
                </div>
                <div class="icon_links">
                    <a href="https://github.com/slt666666" class="uk-icon uk-margin-small-right" uk-icon="icon: github">GitHub</a>
                    <!-- <a href="http://slt666666.hatenablog.com/" class="uk-icon uk-margin-small-right" uk-icon="icon: pencil">Hatena</a> -->
                    <a href="https://twitter.com/Toshi_666666" class="uk-icon uk-margin-small-right" uk-icon="icon: twitter">Twitter</a>
                    <a href="https://qiita.com/slt666666" class="uk-icon" uk-icon="icon: file-edit">Qiita</a>
                </div>
              </div>
              <div class="uk-card uk-card-default uk-card-body uk-width-1-4 uk-visible@s">
                <ul class="uk-nav-default uk-nav-center uk-nav-parent-icon" uk-nav>
                    <li><a href="#work" uk-scroll>Works</a></li>
                    <li><a href="#publish" uk-scroll>Publication</a></li>
                    <li><a href="#about" uk-scroll>About</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <h3 id="work" class="body-title">Work, Program</h3>
          <ul class="uk-list uk-list-bullet">
              <li>Rice Coexpression Database</li>
              Co-expression analysis of Rice(Not yet)
              <li><a href="https://github.com/slt666666/RILStEp">RILStEp</a></li>
              Epistasis analysis for Recombinant inbred lines(RILs).
          </ul>
          <hr class="uk-divider-icon">
          <h3 id="publish" class="body-title">Publication</h3>
          <article class="uk-article">
              <li><a href="https://doi.org/10.1093/g3journal/jkab130">Sakai T, Abe A, Shimizu M, Terauchi R</a>
                RIL-StEp: epistasis analysis of rice recombinant inbred lines (RILs) reveals candidate interacting genes that control seed hull color and leaf chlorophyll content. G3 2021 doi: 10.1093/g3journal/jkab130</li>
              <li><a href="https://www.biorxiv.org/content/10.1101/2020.07.08.193961v2">Kourelis, J, Sakai, T, Adachi, H, and Kamoun, S</a>
                RefPlantNLR: a comprehensive collection of experimentally validated plant NLRs. bioRxiv 2021, doi: 10.1101/2020.07.08.193961.</li>
              <li><a href="https://www.biorxiv.org/content/10.1101/2020.10.12.333484v1">Adachi, H, Sakai, T, Kourelis, J, Maqbool, A, and Kamoun, S</a>
                Jurassic NLR: conserved and dynamic evolutionary features of the atypically ancient immune receptor ZAR1. bioRxiv 2020, doi: 10.1101/2020.10.12.333484.</li>
              <li><a href="https://www.biorxiv.org/content/10.1101/2020.06.17.157040v1">Ding P, Sakai T, Shrestha RK, Perez NM, Guo W, Ngou BPM, He S, Liu C, Feng X, Zhang R, Vandepoele K, MacLean D, Jones JDG</a>
                Chromatin accessibility landscapes activated by cell surface and intracellular immune receptors. bioRxiv 2020 doi: 10.1101/2020.06.17.157040</li>
              <li><a href="https://www.biorxiv.org/content/10.1101/2020.05.15.097584v1">Harant A, Sakai T, Kamoun S, Adachi H</a>
                A vector system for fast-forward in vivo studies of the ZAR1 resistosome in the model plant Nicotiana benthamiana. bioRxiv 2020 doi: 10.1101/2020.05.15.097584</li>
              <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/pbi.13327">Ding P, Ngou BPM, Oliver J. Furzer OJ, Sakai T, Shrestha RK, MacLean D, Jones JDG</a>
                High-resolution Expression Profiling of Selected Gene Sets during Plant Immune Activation. Plant Biotechnol J. 2020 Jan 8. doi: 10.1111/pbi.13327</li>
              <li><a href="https://elifesciences.org/articles/49956">Adachi H, Contreras M, Harant A, Wu CH, Derevnina L, Sakai T, Duggan C, Moratto E, Bozkurt TO, Maqbool A, Win J, Kamoun S</a>
                An N-terminal motif in NLR immune receptors is functionally conserved across distantly related plant species. eLife 2019;8:e49956 doi: 10.7554/eLife.49956</li>
          </article>
          <hr class="uk-divider-icon">
          <h3 id="about" class="body-title">About</h3>
          <article class="uk-article">
              <p class="uk-text-lead">Education</p>
              <li>MSc, Kyoto University, Crop evolution lab, Japan</li>
              <li>(2019~) Visiting student, The Sainsbury Laboratory, Sophien Kamoun group, UK</li>
              <p class="uk-text-lead">Likes</p>
              <li>Python, Bioinformatics, Statistics, Machine Learning, Genomics, Boxing</li>
          </article>
      </div>
      <div class="uk-card-footer">
          <a href="#top" class="uk-icon-button uk-margin-small-right" uk-icon="icon: chevron-up" uk-scroll></a>
      </div>
  </div>
</div>
